* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h8 {
  font-size: 13px;
}

.button-primary {
  background-color: #0d6efd;
  border: none;
  outline: none;
  color: #fff;
  width: 250px;
  height: 45px;
  box-shadow: 1px 2px #0d6efd;
}

.button-success {
  background-color: #04aa6d;
  border: none;
  outline: none;
  width: 250px;
  height: 45px;
  color: #fff;
  box-shadow: 1px 2px #04aa6d;
}

.footer {
  margin-top: 128px;
}

@media (max-width: 576px) {
  .hero > div {
    width: 350px;
  }
  .mh {
    font-size: 18px;
  }
  .sh {
    font-size: 8px;
  }
  .content {
    width: 350px;
  }
  .header {
    width: 350px;
  }
  .btn-groups {
    padding-top: 128px;
  }
  .footer {
    margin-top: 2rem;
  }
}
